@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
*{
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}

/* Global
 * --------------------------------------- */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, :active, :focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    font-style: normal;
    background: #36465d;
}
.content{
    max-width: 700px;
    margin: 0 auto;
    z-index: 1;
}
#fp-nav.left{
    left: 40px;
}
.fp-bg{
    z-index: 0 !important;
}
/* Section 1
 * --------------------------------------- */
#section-1 .fp-bg{
    z-index: -1 !important;
}
.section-1-bg{
    background-image: url(https://78.media.tumblr.com/30ed6c9c935523d7ea0733b8f12ca90a/tumblr_p4485nf38O1qlc734o1_1280.png);
    background-size: cover;
    background-position: 50% 50%;
    top: 0px;
    opacity: 0;
    transition: transform 700ms ease, top .3s ease-out 1.7s, opacity .9s ease .4s !important;
}
.section-1-bg:before{
    background-color: rgba(0,0,0,0.3);
    background-image: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    opacity: 0.6;
}
.section-1-bg.active{
    top: -45px;
    opacity: 1;
}
.section-1-whatIs{
    background: #1B2F33;
    box-shadow: inset 0 3px 0 rgba(0,0,0,.1);
    bottom: -45px;
    color: #fff;
    cursor: pointer;
    height: 45px;
    font-weight: 700;
    left: 0;
    line-height: 45px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    transition: bottom .3s ease-out 1.7s;
    z-index: 1;
}
#section-1.active .section-1-bg{

}
.section-1-whatIs.active{
    bottom:0;
}
.section-1-content{
    text-align: center;
    top: 50%;
}
.section-1-content.active{
    animation: signupFormIntro .3s ease-out 3s;
    animation-fill-mode: backwards;
}
@keyframes signupFormIntro{
    0%{
        opacity:0;
        transform:translateY(25px)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}
.section-1-title{
    background-image: url(https://assets.tumblr.com/images/logo/logo_large.png?v=bc47c7d95170b8d93988615f3865b043);
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    width: 232px;
    height: 50px;
    text-indent: -999em;
}
.section-1-slogan{
    color: #fff;
    margin: 10px 0 16px 10px;
}
.button{
    text-align: center;
    font-weight: bold;
    padding: 0;
    line-height: 32px;
    box-sizing: border-box;
    height: 45px;
    font-size: 16px;
    display: block;
    cursor: pointer;
}
.button-getStarted{
    border-color: #529ecc;
    background: #529ecc;
    color: #fff;
}

/* Section 2
 * --------------------------------------- */
#section-2{
    color: #fff;
    text-align: center;
}
.section-2-title{
    font-size: 36px;
    font-family: Montserrat;
    font-weight: bold;
    line-height: 1;
    margin-top: 100%;
    margin-bottom: 20px;
}
.section-2-animation{
   position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.section-2-intro{
    font-size: 16px;
}

/* Section 3
 * --------------------------------------- */
#section-3{
    color: #fff;
}
.section-3-content{
    margin:0;
    margin-bottom: 20px;
}
.section-3-title{
    font-size: 42px;
    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
    line-height: 1;
    margin-bottom: 15px;
}
.section-3-intro{
    font-size: 16px;
}
.section-3-wrapper{
    margin-left: 140px;
    margin-top: 120px;
}
.blogs-graphic{
    position: relative;
    width: 1280px;
    z-index: 1;
    transform-origin: 0 0;
    transform: scale(.75);
}
.blogs-post {
    background: #fff;
    border-radius: 3px;
    margin: 0 0 20px;
    width: 300px;
    transform: translateX(200px);
}
.blogs-post-column{
    opacity: 0;
    transform: translateX(0);
    float: left;
    margin-right: 20px;
    width: 300px;
    transform: translateX(100px);
}
.blogs-graphic.active .blogs-post-column,
.blogs-graphic.active .blogs-post{
    opacity: 1;
    transform: translateX(0);
    transition: opacity .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
}
.blogs-graphic.active .blogs-post-column:first-child{
    transition-delay: .08s;
}
.blogs-graphic.active .blogs-post-column:nth-child(2){
    transition-delay: .16s;
}
.blogs-graphic.active .blogs-post-column:nth-child(3){
    transition-delay: .24s;
}
.blogs-graphic.active .blogs-post-column:nth-child(4){
    transition-delay: .32s;
}
.blogs-graphic.active .blogs-post:first-child {
    transition-delay: .08s;
}
.blogs-graphic.active .blogs-post:nth-child(2) {
    transition-delay: .16s;
}
.blogs-graphic.active .blogs-post:nth-child(3){
    transition-delay: .24s;
}
.post-top{
    height: 45px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}
.post-image{
    display: block;
    height: auto;
    width: 100%;
}
.post-bottom{
    height: 45px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}
.ui-notes{
    color: #8f8f8f;
    float: left;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}
.post_controls{
    display: block;
    float: right;
    pointer-events: none;
    text-align: right;
    vertical-align: top;
    width: auto;
}

/* Section 4
 * --------------------------------------- */
#section-4 h1{
    font-size: 90px;
    text-align: center;
}

/* Responsive
 * --------------------------------------- */
.fp-responsive .fp-bg{
    position: relative !important;
}
.fp-responsive #section-2{
    padding: 30px 0;
}
.fp-responsive .content{
    padding: 10%;
}
.fp-responsive .section-3-wrapper{
    margin: 10%;
}